<%- include('header') %>

  <!-- Page Header Start -->
  <div class="page-header mb-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>My Favourites</h2>
        </div>
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/index">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">My Favourites</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <div id="main-content">
    <div class="container">
      <div class="row">
        <% if (favouriteRecipes && favouriteRecipes.length> 0) { %>
          <% favouriteRecipes.forEach(function(recipe) { %>
            <div class="col-lg-4 col-md-6">
              <div class="recipe-grid">
                <div class="recipe-img">
                  <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>">
                  <form action="/favourite/remove/<%= recipe._id %>" method="POST" style="display:inline;">
                    <button type="submit" class="remove remove-favourite">
                      <i class="fa fa-times"></i> Remove
                    </button>
                  </form>
                </div>
                <div class="recipe-content">
                  <h4><a href="/<%= recipe.categories.slug %>/<%= recipe.slug %>">
                      <%= recipe.name %>
                    </a></h4>
                  <ul class="recipe-info">
                    <% const matchedCategory=category.find(cat=> cat._id.toString() ===
                      recipe.category?._id?.toString()); %>
                      <li>
                        <% if (matchedCategory) { %>
                          <a href="/category/<%= matchedCategory.slug %>">
                            <%= matchedCategory.name %>
                          </a>
                          <% } else { %>
                            <span>Uncategorized</span>
                            <% } %>
                      </li>
                      <li><i class="far fa-clock"></i>
                        <%= parseInt(recipe.pre_time) + parseInt(recipe.cook_time) %> mins
                      </li>
                  </ul>
                </div>
              </div>
            </div>
            <% }); %>
              <% } else { %>
                <div class="col-12 text-center">
                  <h3 class="sub-heading">No Favourites Found</h3>
                  <a href="/index" class="btn">Add Favourites</a>
                </div>
                <% } %>
      </div>
    </div>
  </div>

  <%- include('footer') %>